<a href="https://colab.research.google.com/github/rrizwan98/Usa_Cars_Price_Prediction/blob/main/Usa_Car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
from zipfile import ZipFile
file_name="/content/drive/My Drive/usa-cers-dataset.zip"
with ZipFile(file_name,'r')as zip:
  zip.extractall()
  print('raza')

raza

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data=pd.read_csv('/content/USA_cars_datasets.csv')
data

      Unnamed: 0  price      brand  ...       state  country      condition
0              0   6300     toyota  ...  new jersey      usa   10 days left
1              1   2899       ford  ...   tennessee      usa    6 days left
2              2   5350      dodge  ...     georgia      usa    2 days left
3              3  25000       ford  ...    virginia      usa  22 hours left
4              4  27700  chevrolet  ...     florida      usa  22 hours left
...          ...    ...        ...  ...         ...      ...            ...
2494        2494   7800     nissan  ...  california      usa    1 days left
2495        2495   9200     nissan  ...     florida      usa  21 hours left
2496        2496   9200     nissan  ...     florida      usa  21 hours left
2497        2497   9200     nissan  ...     florida      usa    2 days left
2498        2498   9200     nissan  ...     florida      usa  21 hours left

[2499 rows x 13 columns]

In [ ]:
data=data.drop(['Unnamed: 0',"vin",	"lot","condition","year"],axis=1)

In [ ]:
data.isna().sum()

price           0
brand           0
model           0
title_status    0
mileage         0
color           0
state           0
country         0
dtype: int64

In [ ]:
data.columns

Index(['price', 'brand', 'model', 'title_status', 'mileage', 'color', 'state',
       'country'],
      dtype='object')

In [ ]:
x=data.drop(['price'],axis=1)
y=data['price']

2499
2499

In [ ]:
le=LabelEncoder()
x=x.apply(le.fit_transform)

In [ ]:
x.head()

   brand  model  title_status  mileage  color  state  country
0     27     25             0     2425      2     24        1
1      8     92             0     2385     39     35        1
2      7     75             0     1378     39      7        1
3      8     32             0     1823      4     39        1
4      5      0             0       61     34      6        1

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(x,y , test_size=0.20,random_state=42)
print(len(x_train))
print(len(y_train))

1999
1999

In [ ]:
from sklearn.linear_model import SGDRegressor

In [ ]:
param_grid = {
    'alpha': 10.0 ** -np.arange(1, 7),
    'loss': ['squared_loss', 'huber', 'epsilon_insensitive'],
    'penalty': ['l2', 'l1', 'elasticnet'],
    'learning_rate': ['constant', 'optimal', 'invscaling'],
}

In [ ]:
sgd=GridSearchCV(lin_model , param_grid)

In [ ]:
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)
warnings.filterwarnings("ignore",category=FutureWarning)

In [ ]:
sgd.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

GridSearchCV(cv=None, error_score=nan,
             estimator=SGDRegressor(alpha=0.0001, average=False,
                                    early_stopping=False, epsilon=0.1,
                                    eta0=0.01, fit_intercept=True,
                                    l1_ratio=0.15, learning_rate='invscaling',
                                    loss='squared_loss', max_iter=1000,
                                    n_iter_no_change=5, penalty='l2',
                                    power_t=0.25, random_state=None,
                                    shuffle=True, tol=0.001,
                                    validation_fraction=0.1, verbose=0,
                                    warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([1.e-01, 1.e-02, 1.e-03, 1.e-04, 1.e-05, 1.e-06]),
                         'learning_rate': ['constant', 'optimal', 'invscaling'],
                         'loss': ['squared_loss', 'huber',
                                  'epsilon_insensitive'],
                         'penalty': ['l2', 'l1', 'elasticnet']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
y_pred=sgd.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score

r1=-(r2_score(y_test,y_pred))

In [ ]:
r1

0.19080627676195294

In [ ]:
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingRegressor
model=ensemble.GradientBoostingRegressor()
model.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
y_pred2=model.predict(x_test)

In [ ]:
r2=(r2_score(y_test,y_pred2))

In [ ]:
r2

0.6322075906030997

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rfr=ensemble.RandomForestRegressor()
rfr.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_pred3=rfr.predict(x_test)

In [ ]:
r3=(r2_score(y_test,y_pred3))

In [ ]:
r3

0.667100630775096

In [ ]:
y_prediction=rfr.predict(x)

In [ ]:
y_prediction

array([6199.98, 5577.18, 6526.11, ..., 9059.  , 9123.  , 8857.  ])

In [ ]:
new_price=pd.DataFrame(y_prediction)
new_price

             0
0      6199.98
1      5577.18
2      6526.11
3     23155.20
4     31912.95
...        ...
2494   9130.50
2495   9221.00
2496   9059.00
2497   9123.00
2498   8857.00

[2499 rows x 1 columns]

In [ ]:
data['Predict_Price']=new_price

In [ ]:
data

      price      brand    model  ...       state  country Predict_Price
0      6300     toyota  cruiser  ...  new jersey      usa       6199.98
1      2899       ford       se  ...   tennessee      usa       5577.18
2      5350      dodge      mpv  ...     georgia      usa       6526.11
3     25000       ford     door  ...    virginia      usa      23155.20
4     27700  chevrolet     1500  ...     florida      usa      31912.95
...     ...        ...      ...  ...         ...      ...           ...
2494   7800     nissan    versa  ...  california      usa       9130.50
2495   9200     nissan    versa  ...     florida      usa       9221.00
2496   9200     nissan    versa  ...     florida      usa       9059.00
2497   9200     nissan    versa  ...     florida      usa       9123.00
2498   9200     nissan    versa  ...     florida      usa       8857.00

[2499 rows x 9 columns]